//Fonts
@import "fonts";

//Vars
@import "modules/vars";
//Vendors
@import "modules/vender";
//Медия запросы
@import "modules/mixMediaScreens";

//Глобальные стили
@import "blocks/global";

//Стили кнопок
@import "blocks/btn";
//Стили уведомлений
@import "blocks/alerts";
//Стили чекбокса и радио кнопок
@import "blocks/customCheckbox";

//Все стили для Админки
@import "blocks/admin/admineStyles";

//Стили шапки
@import "blocks/header";
@import "blocks/nav";
@import "blocks/top-profile";
@import "blocks/profileMenu";
@import "blocks/actions";
//Стили блока hero на главной странице
@import "blocks/hero";
//Блок как это работает
@import "blocks/steps";
@import "blocks/productsLast";
//Стили маленькой карточки
@import "blocks/cards/card";
//Стили большой карточки продукта
@import "blocks/cards/cardBig";
//Стили для слайдера в карточке
@import "blocks/cards/sliderCard";

//Блок поиска
@import "blocks/searchBlock";
//Стили страницы авторизации и регистрации
@import "blocks/login";
//Стили чата
@import "blocks/chats";
//Стили страницы добавления и редактировнаия объявления
@import "blocks/cards/addAndEditProduct/changeProduct";
//Стили страницы добавления и редактирования, превьюха
@import "blocks/cards/previewCard";
//Страница избранного и моих объявлений
@import "blocks/wishList/wishList";

//Стили footer
@import "blocks/footer";
