@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../../node_modules/choices.js/public/assets/styles/choices.min.css";
@import "../../node_modules/simplebar/dist/simplebar.min.css";
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
/* Description: Master CSS file */
/*****************************************
Table Of Contents:
- General Styles
- Navigation
- Header
- Statistics
- Introduction
- Details 1
- Services
- Details 2
- Invitation
- Projects
- Testimonials
- Contact
- Footer
- Copyright
- Back To Top Button
- Extra Pages
- Media Queries
******************************************/
/*****************************************
Colors:
- Backgrounds - light gray #f9fafe
- Headings text - black #191e47
- Body text - dark gray #6c717b
- Buttons, icons - blue #4555d2
- Buttons, icons, bullets - red #cc2973
******************************************/
/**************************/
/*     General Styles     */
/**************************/
h1 {
  color: #191e47;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
  letter-spacing: -0.4px;
}

h2 {
  color: #191e47;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -0.2px;
}

h3 {
  color: #191e47;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2.25rem;
  letter-spacing: -0.2px;
}

h4 {
  color: #191e47;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}

h5 {
  color: #191e47;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.625rem;
}

h6 {
  color: #191e47;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.375rem;
}

.p-large {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.p-small {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.testimonial-text {
  font-style: italic;
}

.testimonial-author {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.li-space-lg li {
  margin-bottom: 0.5rem;
}

a {
  color: #6c717b;
  text-decoration: underline;
}

a:hover {
  color: #6c717b;
  text-decoration: underline;
}

.no-line {
  text-decoration: none;
}

.no-line:hover {
  text-decoration: none;
}

.blue {
  color: #4555d2;
}

.bg-gray {
  background-color: #f9fafe;
}

.btn-solid-reg {
  display: inline-block;
  padding: 1.375rem 2.25rem 1.375rem 2.25rem;
  border: 1px solid #4555d2;
  border-radius: 30px;
  background-color: #4555d2;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-solid-reg:hover {
  background-color: transparent;
  color: #4555d2; /* needs to stay here because of the color property of a tag */
  text-decoration: none;
}

.btn-solid-lg {
  display: inline-block;
  padding: 1.625rem 2.625rem 1.625rem 2.625rem;
  border: 1px solid #4555d2;
  border-radius: 30px;
  background-color: #4555d2;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-solid-lg:hover {
  background-color: transparent;
  color: #4555d2; /* needs to stay here because of the color property of a tag */
  text-decoration: none;
}

.btn-outline-reg {
  display: inline-block;
  padding: 1.375rem 2.25rem 1.375rem 2.25rem;
  border: 1px solid #cc2973;
  border-radius: 30px;
  background-color: transparent;
  color: #cc2973;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-outline-reg:hover {
  background-color: #cc2973;
  color: #ffffff;
  text-decoration: none;
}

.btn-outline-lg {
  display: inline-block;
  padding: 1.625rem 2.625rem 1.625rem 2.625rem;
  border: 1px solid #cc2973;
  border-radius: 30px;
  background-color: transparent;
  color: #cc2973;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-outline-lg:hover {
  background-color: #cc2973;
  color: #ffffff;
  text-decoration: none;
}

.btn-outline-sm {
  display: inline-block;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border: 1px solid #cc2973;
  border-radius: 30px;
  background-color: transparent;
  color: #cc2973;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-outline-sm:hover {
  background-color: #cc2973;
  color: #ffffff;
  text-decoration: none;
}

/**********************/
/*     Navigation     */
/**********************/
.navbar {
  background-color: #ffffff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0.875rem;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
}

.navbar .navbar-brand {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.navbar .logo-image img {
  width: 124px;
  height: 32px;
}

.navbar .logo-text {
  color: #191e47;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1rem;
  text-decoration: none;
}

.offcanvas-collapse {
  position: fixed;
  top: 3.25rem; /* adjusts the height between the top of the page and the offcanvas menu */
  bottom: 0;
  left: 100%;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  overflow-y: auto;
  visibility: hidden;
  background-color: #ffffff;
  transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.offcanvas-collapse.open {
  visibility: visible;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.navbar .navbar-nav {
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}

.navbar .nav-item .nav-link {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  color: #191e47;
  text-decoration: none;
  transition: all 0.2s ease;
}

.navbar .nav-item.dropdown.show .nav-link,
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
  color: #4555d2;
}

/* Dropdown Menu */
.navbar .dropdown .dropdown-menu {
  animation: fadeDropdown 0.2s; /* required for the fade animation */
}

@keyframes fadeDropdown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.navbar .dropdown-menu {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  border: none;
  background-color: #ffffff;
}

.navbar .dropdown-item {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  color: #191e47;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0.875rem;
  text-decoration: none;
}

.navbar .dropdown-item:hover {
  background-color: #ffffff;
  color: #4555d2;
}

.navbar .dropdown-divider {
  width: 100%;
  height: 1px;
  margin: 0.5rem auto 0.5rem auto;
  border: none;
  background-color: #efefef;
}

/* end of dropdown menu */
.navbar .navbar-toggler {
  padding: 0;
  border: none;
  font-size: 1.25rem;
}

/*****************/
/*    Hero     */
/*****************/
.hero {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  text-align: center;
}

.hero .decoration-star {
  position: absolute;
  top: 80px;
  left: -100px;
  width: 200px;
  opacity: 0.7;
}

.hero .decoration-star-2 {
  position: absolute;
  top: 80px;
  right: -100px;
  width: 200px;
  opacity: 0.7;
}

.hero div[class*=col] {
  /* selects all elements which have classes starting with col */
  /* needed so that the absolute positioned decoration stays behind */
  position: relative;
}

.hero .h1-large {
  margin-bottom: 1.75rem;
  font-size: 3rem;
  line-height: 3.5rem;
}

.hero .p-large {
  margin-bottom: 2.25rem;
}

.hero .btn-solid-lg,
.hero .btn-outline-lg {
  margin-right: 0.25rem;
  margin-bottom: 1.25rem;
  margin-left: 0.25rem;
}

/**********************/
/*     Statistics     */
/**********************/
.counter {
  padding-top: 4.5rem;
  padding-bottom: 5.5rem;
  text-align: center;
}

.counter .counter-cell {
  margin-bottom: 4rem;
}

.counter .purecounter {
  margin-bottom: 1.5rem;
  color: #191e47;
  font-weight: 400;
  font-size: 4rem;
  line-height: 2rem;
}

.counter .counter-info {
  color: #6d717a;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

/************************/
/*     Introduction     */
/************************/
.basic-1 {
  padding-top: 9.25rem;
  padding-bottom: 8.75rem;
}

.basic-1 h2 {
  margin-bottom: 1.75rem;
}

/*********************/
/*     Details 1     */
/*********************/
.basic-2 {
  position: relative;
  padding-top: 9.5rem;
  padding-bottom: 9.5rem;
}

.basic-2 .decoration-star {
  position: absolute;
  top: 530px;
  left: -100px;
  width: 200px;
  opacity: 0.7;
}

.basic-2 div[class*=col] {
  /* selects all elements which have classes starting with col */
  /* needed so that the absolute positioned decoration stays behind */
  position: relative;
}

.basic-2 .image-container {
  margin-bottom: 5rem;
}

.basic-2 h2 {
  margin-bottom: 1.875rem;
}

.basic-2 .list-unstyled {
  margin-bottom: 2rem;
}

.basic-2 .list-unstyled .fas {
  color: #cc2973;
  font-size: 0.375rem;
  line-height: 1.625rem;
}

.basic-2 .list-unstyled .flex-grow-1 {
  margin-left: 0.5rem;
}

/********************/
/*     Services     */
/********************/
.cards-1 {
  padding-top: 9.5rem;
  padding-bottom: 5.5rem;
}

.cards-1 h2 {
  margin-bottom: 1.75rem;
}

.cards-1 .text-container {
  margin-bottom: 5rem;
}

.cards-1 .list-unstyled {
  margin-top: 1.5rem;
}

.cards-1 .list-unstyled .fas {
  color: #cc2973;
  font-size: 0.375rem;
  line-height: 1.625rem;
}

.cards-1 .list-unstyled .flex-grow-1 {
  margin-left: 0.5rem;
}

.cards-1 .card-container {
  text-align: center;
}

.cards-1 .card {
  display: inline-block;
  margin-right: 1.5rem;
  margin-bottom: 3.75rem;
  margin-left: 1.5rem;
  width: 150px;
  border: none;
  background-color: transparent;
  text-align: center;
  vertical-align: top;
}

.cards-1 .card-icon {
  width: 90px;
  height: 90px;
  margin-right: auto;
  margin-bottom: 1.5rem;
  margin-left: auto;
  border-radius: 50%;
  background-color: #ffffff;
  text-align: center;
}

.cards-1 .card-icon .far,
.cards-1 .card-icon .fas {
  margin-left: 2rem;
  color: #cc2973;
  font-size: 3.75rem;
}

.cards-1 .card-body {
  padding: 0;
}

.cards-1 .card-title {
  font-weight: 600;
}

/*********************/
/*     Details 2     */
/*********************/
.basic-3 {
  position: relative;
  overflow: hidden;
  padding-top: 9.5rem;
  padding-bottom: 9.75rem;
}

.basic-3 .decoration-star {
  position: absolute;
  top: 500px;
  right: -100px;
  width: 200px;
  opacity: 0.7;
}

.basic-3 div[class*=col] {
  /* selects all elements which have classes starting with col */
  /* needed so that the absolute positioned decoration stays behind */
  position: relative;
}

.basic-3 .text-container {
  margin-bottom: 5rem;
}

.basic-3 h2 {
  margin-bottom: 1.875rem;
}

.basic-3 p {
  margin-bottom: 2rem;
}

/**********************/
/*     Invitation     */
/**********************/
.basic-4 {
  padding-top: 9.25rem;
  padding-bottom: 9.75rem;
  text-align: center;
}

.basic-4 h4 {
  margin-bottom: 2rem;
}

/********************/
/*     Projects     */
/********************/
.cards-2 {
  padding-top: 9.5rem;
  padding-bottom: 5rem;
}

.cards-2 .h2-heading {
  margin-bottom: 3.75rem;
  text-align: center;
}

.cards-2 .card {
  max-width: 350px;
  margin-right: auto;
  margin-bottom: 4.5rem;
  margin-left: auto;
  border: none;
}

.cards-2 .card img {
  margin-bottom: 2rem;
  border-radius: 10px;
}

.cards-2 .card-body {
  padding: 0;
}

/************************/
/*     Testimonials     */
/************************/
.slider-1 {
  position: relative;
  padding-top: 9.75rem;
  padding-bottom: 9.75rem;
}

.slider-1 .quotes-decoration {
  position: absolute;
  top: 0;
  left: 15px;
  width: 120px;
  opacity: 0.2;
}

.slider-1 .slider-container {
  position: relative;
}

.slider-1 .swiper-container {
  position: static;
  width: 86%;
  text-align: center;
}

.slider-1 .swiper-button-prev:focus,
.slider-1 .swiper-button-next:focus {
  /* even if you can't see it chrome you can see it on mobile device */
  outline: none;
}

.slider-1 .swiper-button-prev {
  left: -10px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23707375'%2F%3E%3C%2Fsvg%3E");
  background-size: 18px 28px;
}

.slider-1 .swiper-button-next {
  right: -10px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23707375'%2F%3E%3C%2Fsvg%3E");
  background-size: 18px 28px;
}

.slider-1 .testimonial-image {
  width: 120px;
  height: 120px;
  margin-bottom: 2.25rem;
  border-radius: 50%;
}

.slider-1 .testimonial-text {
  margin-bottom: 1.75rem;
  font-size: 1.25rem;
  line-height: 2rem;
}

.slider-1 .testimonial-author {
  margin-bottom: 0.25rem;
  color: #2b2b4f;
}

/*******************/
/*     Contact     */
/*******************/
.form-1 {
  position: relative;
  overflow: hidden;
  padding-top: 9.5rem;
  padding-bottom: 8.75rem;
  text-align: center;
}

.form-1 .decoration-star {
  position: absolute;
  top: 600px;
  left: -100px;
  width: 200px;
  opacity: 0.7;
}

.form-1 .decoration-star-2 {
  position: absolute;
  top: 600px;
  right: -100px;
  width: 200px;
  opacity: 0.7;
}

.form-1 div[class*=col] {
  /* selects all elements which have classes starting with col */
  /* needed so that the absolute positioned decoration stays behind */
  position: relative;
}

.form-1 .image-container {
  margin-bottom: 5rem;
}

.form-1 h2 {
  margin-bottom: 2.5rem;
}

/******************/
/*     Footer     */
/******************/
.footer {
  padding-top: 6.5rem;
  padding-bottom: 2rem;
}

.footer a {
  text-decoration: none;
}

.footer .footer-col {
  margin-bottom: 3rem;
}

.footer h6 {
  margin-bottom: 0.625rem;
  color: #6c717b;
  opacity: 0.9;
}

.footer p,
.footer a,
.footer ul {
  opacity: 0.9;
}

.footer .li-space-lg li {
  margin-bottom: 0.375rem;
}

.footer .footer-col.third .fa-stack {
  width: 2em;
  margin-bottom: 1.25rem;
  margin-right: 0.375rem;
  font-size: 1.375rem;
}

.footer .footer-col.third .fa-stack .fa-stack-2x {
  color: #ffffff;
  transition: all 0.2s ease;
}

.footer .footer-col.third .fa-stack .fa-stack-1x {
  color: #4555d2;
  transition: all 0.2s ease;
}

.footer .footer-col.third .fa-stack:hover .fa-stack-2x {
  color: #4555d2;
}

.footer .footer-col.third .fa-stack:hover .fa-stack-1x {
  color: #ffffff;
}

/*********************/
/*     Copyright     */
/*********************/
.copyright {
  padding-bottom: 1rem;
  text-align: center;
  opacity: 0.9;
}

.copyright p,
.copyright a {
  text-decoration: none;
}

/******************************/
/*     Back To Top Button     */
/******************************/
#myBtn {
  position: fixed;
  z-index: 99;
  bottom: 20px;
  right: 20px;
  display: none;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: #44434a;
  cursor: pointer;
}

#myBtn:hover {
  background-color: #1d1d21;
}

#myBtn img {
  margin-bottom: 0.25rem;
  width: 18px;
}

/***********************/
/*     Extra Pages     */
/***********************/
.ex-hero {
  padding-top: 8.5rem;
  padding-bottom: 4rem;
}

.ex-basic-1 .list-unstyled .fas {
  color: #cc2973;
  font-size: 0.375rem;
  line-height: 1.625rem;
}

.ex-basic-1 .list-unstyled .flex-grow-1 {
  margin-left: 0.5rem;
}

.ex-basic-1 .text-box {
  padding: 1.25rem 1.25rem 0.5rem 1.25rem;
  background-color: #f9fafe;
}

.ex-cards-1 .card {
  border: none;
  background-color: transparent;
}

.ex-cards-1 .card .fa-stack {
  width: 2em;
  font-size: 1.125rem;
}

.ex-cards-1 .card .fa-stack-2x {
  color: #cc2973;
}

.ex-cards-1 .card .fa-stack-1x {
  width: 2em;
  color: #ffffff;
  font-weight: 700;
  line-height: 2.125rem;
}

.ex-cards-1 .card .list-unstyled .flex-grow-1 {
  margin-left: 2.25rem;
}

.ex-cards-1 .card .list-unstyled .flex-grow-1 h5 {
  margin-top: 0.125rem;
  margin-bottom: 0.5rem;
}

/*************************/
/*     Media Queries     */
/*************************/
/* Min-width 768px */
@media (min-width: 768px) {
  /* Hero */
  .hero .decoration-star {
    top: 100px;
    left: -150px;
    width: 300px;
  }
  .hero .decoration-star-2 {
    top: 140px;
    right: -200px;
    width: 400px;
  }
  /* end of hero */
  /* Statistics */
  .counter .counter-cell {
    display: inline-block;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    vertical-align: top;
  }
  /* end of statistics */
  /* Services */
  .cards-1 .card {
    margin-right: 2rem;
    margin-left: 2rem;
  }
  /* end of services */
  /* Contact */
  .form-1 .decoration-star {
    left: -150px;
    width: 300px;
  }
  .form-1 .decoration-star-2 {
    right: -200px;
    width: 400px;
  }
  /* end of contact */
  /* Extra Pages */
  .ex-basic-1 .text-box {
    padding: 1.75rem 2rem 0.875rem 2rem;
  }
  /* end of extra pages */
}
/* end of min-width 768px */
/* Min-width 992px */
@media (min-width: 992px) {
  /* General Styles */
  .h2-heading {
    width: 35.25rem;
    margin-right: auto;
    margin-left: auto;
  }
  .p-heading {
    width: 46rem;
    margin-right: auto;
    margin-left: auto;
  }
  /* end of general styles */
  /* Navigation */
  .navbar {
    padding-top: 1.75rem;
    background-color: #ffffff;
    box-shadow: none;
    transition: all 0.2s;
  }
  .navbar.extra-page {
    padding-top: 0.5rem;
  }
  .navbar.top-nav-collapse {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #ffffff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
  }
  .offcanvas-collapse {
    position: static;
    top: auto;
    bottom: auto;
    left: auto;
    width: auto;
    padding-right: 0;
    padding-left: 0;
    background-color: transparent;
    overflow-y: visible;
    visibility: visible;
  }
  .offcanvas-collapse.open {
    -webkit-transform: none;
    transform: none;
  }
  .navbar .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
  }
  .navbar .nav-item .nav-link {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
  .navbar .dropdown-menu {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.08);
  }
  .navbar .dropdown-divider {
    width: 90%;
  }
  .navbar .nav-item .btn-outline-sm {
    margin-top: 0;
    margin-left: 1rem;
  }
  /* end of navigation */
  /* Hero */
  .hero {
    text-align: left;
  }
  .hero .text-container {
    margin-top: 4rem;
  }
  .hero .image-container {
    margin-top: 0;
  }
  .hero .btn-solid-lg,
.hero .btn-outline-lg {
    margin-right: 0;
    margin-left: 0;
  }
  .hero .btn-solid-lg {
    margin-right: 0.5rem;
  }
  /* end of hero */
  /* Statistics */
  .counter .purecounter {
    font-size: 6rem;
    line-height: 4rem;
  }
  /* end of statistics */
  /* Introduction */
  .basic-1 h2 {
    width: 90%;
  }
  /* end of introduction */
  /* Details 1 */
  .basic-2 .decoration-star {
    top: 260px;
    left: -150px;
    width: 300px;
  }
  .basic-2 .image-container {
    margin-bottom: 0;
  }
  /* end of details 1 */
  /* Services */
  .cards-1 .text-container {
    margin-bottom: 0;
  }
  /* end of services */
  /* Details 2 */
  .basic-3 .decoration-star {
    top: 260px;
    right: -150px;
    width: 300px;
  }
  .basic-3 .image-container {
    text-align: right;
  }
  /* end of details 2 */
  /* Invitation */
  .basic-4 h4 {
    width: 48rem;
    margin-right: auto;
    margin-left: auto;
  }
  /* end of invitation */
  /* Projects */
  .cards-2 .card {
    display: inline-block;
    width: 292px;
    max-width: 100%;
    vertical-align: top;
  }
  .cards-2 .card:nth-of-type(3n + 2) {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
  /* end of projects */
  /* Contact */
  .form-1 {
    text-align: left;
  }
  .form-1 .decoration-star {
    top: 260px;
  }
  .form-1 .decoration-star-2 {
    top: 240px;
  }
  .form-1 .image-container {
    margin-bottom: 0;
  }
  /* end of contact */
  /* Footer */
  .footer .footer-col {
    margin-bottom: 2rem;
  }
  .footer .footer-col.first {
    display: inline-block;
    width: 320px;
    margin-right: 1.75rem;
    vertical-align: top;
  }
  .footer .footer-col.second {
    display: inline-block;
    width: 320px;
    margin-right: 1.75rem;
    vertical-align: top;
  }
  .footer .footer-col.third {
    display: inline-block;
    width: 224px;
    text-align: right;
    vertical-align: top;
  }
  .footer .footer-col.third .fa-stack {
    margin-right: 0;
    margin-left: 0.375rem;
  }
  /* end of footer */
  /* Extra Pages */
  .ex-cards-1 .card {
    display: inline-block;
    width: 296px;
    vertical-align: top;
  }
  .ex-cards-1 .card:nth-of-type(3n + 2) {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  /* end of extra pages */
}
/* end of min-width 992px */
/* Min-width 1200px */
@media (min-width: 1200px) {
  /* General Styles */
  /* end of general styles */
  /* Hero */
  .hero .text-container {
    margin-top: 6.5rem;
  }
  .hero .decoration-star {
    top: 200px;
    left: -200px;
    width: 500px;
  }
  .hero .decoration-star-2 {
    top: 150px;
    right: -200px;
    width: 600px;
  }
  .hero .h1-large {
    font-size: 4.25rem;
    line-height: 4.875rem;
  }
  .hero .image-container {
    text-align: right;
  }
  /* end of hero */
  /* Statistics */
  .counter .counter-cell {
    margin-right: 3.5rem;
    margin-left: 3.5rem;
    width: 180px;
  }
  .counter .counter-cell:first-of-type {
    margin-left: 0;
  }
  .counter .counter-cell:last-of-type {
    margin-right: 0;
  }
  .counter .purecounter {
    font-size: 6.75rem;
    line-height: 4.5rem;
  }
  /* end of statistics */
  /* Details 1 */
  .basic-2 .decoration-star {
    top: 140px;
    left: -200px;
    width: 500px;
  }
  .basic-2 .text-container {
    margin-top: 5rem;
    margin-left: 2.5rem;
  }
  .basic-2 h2 {
    width: 90%;
  }
  /* end of details 1 */
  /* Services */
  .cards-1 .text-container {
    margin-top: 2rem;
    margin-right: 4.75rem;
  }
  .cards-1 .card {
    margin-right: 2.25rem;
    margin-left: 2.25rem;
  }
  .cards-1 .card:nth-of-type(3n + 1) {
    margin-left: 0;
  }
  .cards-1 .card:nth-of-type(3n + 3) {
    margin-right: 0;
  }
  /* end of services */
  /* Details 2 */
  .basic-3 .decoration-star {
    top: 140px;
    right: -200px;
    width: 500px;
  }
  .basic-3 .text-container {
    margin-top: 6rem;
    margin-right: 3rem;
  }
  .basic-3 h2 {
    width: 95%;
  }
  /* end of details 2 */
  /* Projects */
  .cards-2 .card {
    width: 350px;
  }
  .cards-2 .card:nth-of-type(3n + 2) {
    margin-right: 1.625rem;
    margin-left: 1.625rem;
  }
  /* end of projects */
  /* Testimonials */
  .slider-1 .quotes-decoration {
    left: 170px;
    width: 220px;
  }
  .slider-1 .slider-container {
    width: 82%;
    margin-right: auto;
    margin-left: auto;
  }
  /* end of testimonials */
  /* Contact */
  .form-1 .decoration-star {
    top: 140px;
    left: -300px;
    width: 600px;
  }
  .form-1 .decoration-star-2 {
    top: 140px;
    right: -300px;
    width: 600px;
  }
  .form-1 .text-container {
    margin-left: 2.5rem;
  }
  .form-1 h2 {
    width: 82%;
  }
  /* end of contact */
  /* Footer */
  .footer .footer-col.first {
    width: 352px;
    margin-right: 6rem;
  }
  .footer .footer-col.second {
    margin-right: 6.5rem;
  }
  .footer .footer-col.third {
    text-align: right;
  }
  /* end of footer */
  /* Extra Pages */
  .ex-cards-1 .card {
    width: 336px;
  }
  .ex-cards-1 .card:nth-of-type(3n + 2) {
    margin-right: 2.875rem;
    margin-left: 2.875rem;
  }
  /* end of extra pages */
}
/* end of min-width 1200px */
/* Min-width 1400px */
@media (min-width: 1400px) {
  /* Hero */
  /*.hero .decoration-star {

  	top: 120px;
  	left: -250px;
  	width: 600px;
  }


  .hero .decoration-star-2 {

  	top: 60px;
  	right: -300px;
  	width: 700px;
  }*/
  /* end of hero */
}
/* end of min-width 1400px */
.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  padding: 19px 30px;
  border-radius: 8px;
  color: #23262f;
}
.btn-white {
  background-color: white;
  border: 2px solid rgba(35, 38, 47, 0.1);
  transition: all 0.4s ease-in-out;
}
.btn-white:hover {
  border: 2px solid rgba(35, 38, 47, 0.5);
}
.btn-blue {
  color: white;
  border: 2px solid #315df7;
  background-color: #315df7;
  transition: all 0.4s ease-in-out;
}
.btn-blue:hover {
  color: #315df7;
  background-color: transparent;
}
.btn-toggel {
  position: relative;
  width: 48px;
  height: 48px;
  padding: 0;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  border: 2px solid rgba(35, 38, 47, 0.1);
  transition: all 0.4s ease-in-out;
}
.btn-toggel .line {
  display: block;
  width: 14px;
  height: 1px;
  background-color: #23262f;
  transition: all 0.4s ease-in-out;
}
.btn-toggel .line:nth-child(2) {
  margin-top: 7px;
}
@media (max-width: 990.98px) {
  .btn-toggel .line.active:nth-child(1) {
    transform: rotate(45deg);
  }
  .btn-toggel .line.active:nth-child(2) {
    transform: rotate(-45deg);
  }
}
.btn-toggel.active .line:nth-child(1) {
  transform: translateY(3px) rotate(45deg);
}
.btn-toggel.active .line:nth-child(2) {
  transform: translateY(-5px) rotate(-45deg);
}
.btn-toggel:hover {
  border-color: rgba(35, 38, 47, 0.5);
}
.btn-toggel:hover.line {
  background-color: rgba(35, 38, 47, 0.5);
}
@media (max-width: 990.98px) {
  .btn-toggel {
    display: flex;
  }
}
.btn-reset {
  border: none;
  background-color: transparent;
}
@media (max-width: 991.98px) {
  .btn {
    font-size: 15px;
  }
}

.alert {
  position: absolute;
  top: 0;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Gilroy, sans-serif;
  font-style: normal;
}

a {
  display: block;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

ul,
p {
  margin: 0;
  padding: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.logo img {
  width: 100%;
}

.title {
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #23262f;
}
@media (max-width: 991.98px) {
  .title {
    font-size: 24px;
  }
}

.main {
  padding-top: 124px;
  padding-bottom: 184px;
  min-height: calc(100vh - 297px);
}
@media (max-width: 991.98px) {
  .main {
    min-height: calc(100vh - 326px);
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  padding: 31px 0;
  background-color: #fff;
  border-bottom: 1px solid rgba(35, 38, 47, 0.05);
}
@media (max-width: 1199.98px) {
  .header__logo {
    width: 150px;
  }
}
@media (max-width: 991.98px) {
  .header__logo {
    width: 134px;
  }
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 991.98px) {
  .header__content {
    position: absolute;
    top: 111px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    height: calc(100vh - 111px);
    flex-direction: column;
    transform: translateX(-1000px);
    overflow: hidden;
    transition: all 0.4s ease-in;
  }
  .header__content.show {
    overflow: visible;
    transform: translateX(0);
  }
}
.header__profile {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 12px;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 0 30px;
}
@media (max-width: 1199.98px) {
  .nav-menu {
    padding: 0 20px;
  }
}
@media (max-width: 991.98px) {
  .nav-menu {
    width: 100%;
    padding: 0;
    padding-top: 32px;
    flex-basis: 100%;
    flex-direction: column;
    align-items: initial;
    justify-content: initial;
    background-color: white;
  }
}
.nav-menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 991.98px) {
  .nav-menu__list {
    align-items: inherit;
    flex-direction: column;
  }
}
.nav-menu__item {
  transition: all 0.4s ease-in;
}
.nav-menu__item:not(:last-child) {
  margin-right: 32px;
}
@media (max-width: 1199.98px) {
  .nav-menu__item:not(:last-child) {
    margin-right: 22px;
  }
}
@media (max-width: 991.98px) {
  .nav-menu__item:not(:last-child) {
    margin-right: 0;
  }
}
@media (max-width: 991.98px) {
  .nav-menu__item {
    padding: 16px 32px;
  }
  .nav-menu__item:hover {
    background-color: #f4f4f4;
  }
}
.nav-menu__item.active > .nav-menu__link {
  font-weight: 600;
  color: #23262f;
}
@media (max-width: 991.98px) {
  .nav-menu__item.active {
    border-left: 3px solid #315df7;
  }
}
.nav-menu__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: rgba(35, 38, 47, 0.4);
  transition: all 0.4s ease-in-out;
}
@media (max-width: 1199.98px) {
  .nav-menu__link {
    font-size: 14px;
  }
}
@media (max-width: 991.98px) {
  .nav-menu__link {
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.03em;
  }
}

@media (max-width: 991.98px) {
  .top-profile {
    width: 100%;
    box-shadow: 0px -24px 150px rgba(0, 0, 0, 0.05);
    background-color: white;
    padding: 16px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.top-profile__content {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.top-profile__actions {
  display: flex;
  margin-right: 24px;
}
@media (max-width: 991.98px) {
  .top-profile__actions {
    position: absolute;
    bottom: 110px;
    gap: 5px;
    margin: 0;
  }
}
.top-profile__avatar {
  width: 58px;
  height: 58px;
  border-radius: 50%;
}
.top-profile__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.profile-menu {
  position: absolute;
  top: 73px;
  right: 0;
  z-index: 100;
  width: 370px;
  background: white;
  box-shadow: 0px 4px 250px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  padding: 8px 0;
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  transition: all 0.4s ease-in;
}
.profile-menu.show {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}
@media (max-width: 991.98px) {
  .profile-menu {
    top: initial;
    bottom: 120px;
    right: inherit;
    width: 310px;
  }
}
.profile-menu__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: rgba(35, 38, 47, 0.6);
  display: flex;
  align-items: center;
  padding: 24px 12px;
  cursor: pointer;
  transition: all 0.4s ease-in;
}
.profile-menu__item:first-child {
  margin-bottom: 12px;
  border-bottom: 1px solid rgba(35, 38, 47, 0.05);
}
.profile-menu__item:last-child {
  margin-top: 12px;
  border-top: 1px solid rgba(35, 38, 47, 0.05);
}
.profile-menu__item:hover {
  background: #f4f5f6;
}
.profile-menu__item span {
  margin-right: 14px;
}

.actions__btn {
  position: relative;
  width: 58px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.4s ease-in;
}
.actions__btn:hover {
  background-color: #f4f5f6;
}
@media (max-width: 991.98px) {
  .actions__btn {
    width: initial;
    height: initial;
    border: 2px solid rgba(35, 38, 47, 0.1);
    padding: 13px 36px;
    border-radius: 3333px;
  }
}
.actions__notif {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: red;
}
@media (max-width: 991.98px) {
  .actions__notif {
    top: 10px;
    right: 32px;
  }
}

.products-last__title {
  margin-top: 64px;
  margin-bottom: 32px;
}
.products-last__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
  column-gap: 16px;
  row-gap: 16px;
}
@media (max-width: 374.98px) {
  .products-last__list {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.card {
  position: relative;
  padding: 16px;
  border: 2px solid rgba(35, 38, 47, 0.05);
  border-radius: 16px;
  transition: all 0.4s ease-in-out;
}
.card:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 15px 5px rgba(35, 38, 47, 0.1);
}
.card__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.card__content {
  display: flex;
  flex-direction: column;
}
.card__img {
  position: relative;
  max-height: 315px;
  min-height: 260px;
  border-radius: 16px;
}
.card__img img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: contain;
}
.card__body {
  margin-top: 32px;
}
.card__body-top {
  border-bottom: 1px solid rgba(35, 38, 47, 0.05);
}
.card__body-bottom {
  padding-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__btn-fav {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 5;
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  cursor: pointer;
}
.card__btn-fav:hover {
  background-color: rgb(179, 179, 179);
}
.card__title {
  position: relative;
  z-index: 5;
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #23262f;
  transition: all 0.3s;
}
.card__title:hover {
  color: rgba(35, 38, 47, 0.5);
}
.card__location {
  padding-bottom: 16px;
  display: flex;
  align-items: center;
}
.card__location-icon {
  margin-right: 10px;
}
.card__author {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.card__author-img {
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__author-img .author-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.card__author-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #23262f;
  cursor: default;
}
.card__add {
  display: flex;
  flex-direction: column;
}
.card__add-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(35, 38, 47, 0.6);
  margin-bottom: 4px;
}
.card__add-time {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #23262f;
}

.search-form__container {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 34px;
  background: #f4f5f6;
  border: 1px solid rgba(35, 38, 47, 0.05);
  border-radius: 3333px;
}

.choices {
  margin-bottom: 0;
}
.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 0;
}
.choices__inner {
  height: 72px;
  padding: 0;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  border: none;
}
.choices__placeholder {
  opacity: 1;
}
.choices__list--single {
  padding: 0;
}
.choices[data-elem=search__category]:after {
  right: 42px;
  height: 12px;
  width: 12px;
  border-width: 0px;
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  transform: rotate(135deg);
  margin-top: -9px;
  transition: all 0.4s ease-in;
}
.choices[data-elem=search__category].is-open:after {
  border-width: 0px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  margin-top: -2px;
}
.choices[data-elem=gray-arrow]:after {
  right: 15px;
  height: 12px;
  width: 12px;
  border-width: 0px;
  border-right: 2px solid #23262f;
  border-top: 2px solid #23262f;
  transform: rotate(135deg);
  margin-top: -9px;
  transition: all 0.4s ease-in;
}
.choices[data-elem=gray-arrow].is-open:after {
  border-width: 0px;
  border-left: 2px solid #23262f;
  border-bottom: 2px solid #23262f;
  margin-top: -2px;
}

.search__category {
  width: 250px;
  background: #23262f;
  border-radius: 333px;
  padding-top: 0px;
  padding-right: 34px;
  padding-left: 34px;
  color: #fff;
  overflow: hidden;
}
.search__type {
  width: 150px;
  background: none;
}
.search__city {
  background: none;
  width: 150px;
}
.search__item {
  display: flex;
  align-items: center;
}
.search__item-input {
  width: 100%;
  background: none;
  border: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}
.search__item--searching {
  width: 350px;
}
.search__item--type {
  height: 54px;
  padding: 0 36px;
  border-left: 1px solid rgba(35, 38, 47, 0.1);
  border-right: 1px solid rgba(35, 38, 47, 0.1);
}
.search__item-icon {
  margin-right: 8px;
}
.search__item-icon > svg {
  display: block;
}
.search__btn {
  width: 68px;
  height: 68px;
  background-color: #315df7;
  border-radius: 50%;
  transition: all 0.4s ease-in;
}
.search__btn:hover {
  background-color: #2a4dcc;
}

.is-open .search__category,
.is-focused .search__category {
  border-radius: 333px;
}

.is-flipped.is-open .choices__inner {
  border-radius: 333px;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  z-index: 101;
  width: 250px;
  margin-top: 15px;
  border-radius: 8px;
}

.is-flipped .choices__list--dropdown,
.is-flipped .choices__list[aria-expanded] {
  margin-bottom: 15px;
  border-radius: 8px;
}

.search-result {
  margin-top: 32px;
}
.search-result__title {
  margin-bottom: 32px;
}
.search-result__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  column-gap: 16px;
  row-gap: 16px;
}
@media (max-width: 374.98px) {
  .search-result__container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.container p,
h6 {
  margin-bottom: 0rem;
}

.productName {
  margin-bottom: 22px;
  max-height: 140px;
  font-family: Gilroy;
  font-size: 64px;
  font-weight: 500;
  line-height: 70px;
  letter-spacing: -0.03em;
  text-align: left;
}

.productHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: center;
}

.location {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.productLocation {
  height: 20px;
  width: 550px;
  left: 32px;
  top: 2px;
  font-family: Gilroy;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(35, 38, 47, 0.6);
  margin-bottom: 50px;
}

.add {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.adcart {
  height: 300px;
  width: 200px;
  outline: 1px solid #0c63e4;
  border-radius: 10px;
  padding: 6px;
}

.adcart_link {
  text-decoration: none;
}

.adcart_link:hover {
  text-decoration: none;
}

.addToFav {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 32px;
  gap: 8px;
  width: 259px;
  height: 58px;
  border: 2px solid;
  border-color: rgba(35, 38, 47, 0.1);
  background-color: white;
  border-radius: 33333px;
  flex: none;
  order: 0;
  flex-grow: 0;
  --bs-btn-hover-bg: #969392;
  --bs-btn-hover-border-color: #969392;
}

.addToFav p {
  min-width: 160px;
  color: #34383c;
}

.productCart {
  display: flex;
  justify-content: space-between;
  height: 558px;
  gap: 10px;
}

.productImgCarousel {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.productViewBig img {
  border-radius: 20px;
}

.productViewSmall {
  position: relative;
}

.productViewSmall [data-bs-target] {
  width: 63px;
  height: 63px;
}

.productImg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productContact {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 24px 24px;
  gap: 24px;
  width: 384px;
  background: #ffffff;
  border: 2px solid rgba(35, 38, 47, 0.1);
  border-radius: 20px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.status {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 20px;
  width: 91px;
  height: 40px;
  background: rgba(151, 87, 215, 0.1);
  backdrop-filter: blur(16px);
  border-radius: 333px;
  flex: none;
  order: 0;
  flex-grow: 0;
  align-self: flex-start;
}

.user {
  align-items: flex-start;
  padding: 24px 16px;
  gap: 24px;
  width: 336px;
  height: 372px;
  background: #f4f5f6;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.user hr {
  width: 304px;
  color: darkgray;
  size: 5px;
  margin-top: 29px;
  margin-bottom: 29px;
}

.userView {
  display: flex;
  align-items: center;
}

.userRating {
  display: flex;
  align-items: baseline;
}

.userName {
  margin-left: 15px;
  height: 48px;
}

.userName h5 {
  margin-bottom: 0;
  min-width: 120px;
}

.contacts p {
  display: flex;
}

.contacts div {
  margin-bottom: 10px;
}

.contactsInfo {
  display: flex;
  justify-content: space-between;
}

.writeMessage {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 32px;
  gap: 8px;
  width: 304px;
  height: 58px;
  background: #315df7;
  border-radius: 8px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  color: white;
  margin-bottom: 8px;
  border-color: #315df7;
}

.orderCall {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 32px;
  gap: 8px;
  width: 304px;
  height: 58px;
  border-radius: 8px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  border-color: rgba(35, 38, 47, 0.29);
}

.additionalInfo {
  margin-top: 25px;
}

.productInfo {
  display: flex;
  margin-top: 50px;
  gap: 25px;
}

.characteristic {
  display: flex;
  border: 1px solid rgba(35, 38, 47, 0.1);
  border-radius: 8px;
  height: 70px;
  width: 230px;
  align-items: center;
  padding: 10px;
  justify-content: center;
}

.characteristic svg {
  margin-right: 10px;
}

.description {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 880px;
  max-height: 288px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: rgba(35, 38, 47, 0.75);
  flex: none;
  order: 1;
  flex-grow: 0;
}

.galery {
  display: flex;
  flex-wrap: wrap;
}

.image {
  float: left;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.popup {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
}

.popup_bg {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.popup_img {
  position: relative;
  margin: 0 auto;
  z-index: 2;
  max-height: 94%;
  max-width: 94%;
  margin: 1% 0 0 0;
}

.login {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  text-align: center;
  max-width: 50%;
  justify-content: normal;
}

.login legend {
  height: 48px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #23262F;
  margin-bottom: 20px;
  margin-top: 103px;
}

.login input:focus {
  border-color: #315DF7;
  box-shadow: none;
}

.login label {
  width: 112px;
  height: 14px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #272A32;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.login a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.authentication {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  padding-top: 0px !important;
  padding: 0;
  z-index: 0;
}

.registration {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: normal;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  max-width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.social {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.social a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

.form-control {
  background-color: #F4F5F7;
}

.bthEnter {
  border-radius: 20px;
  border: 1px solid #0d6efd;
  background-color: #0d6efd;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-top: 19px;
}

.bth-login {
  margin-top: 45px;
}

.registration legend {
  display: block;
  font-size: 39px;
  margin-block-start: 0.67em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: #23262f;
  margin-top: 90px;
}

.registration input:focus {
  border-color: #315DF7;
  box-shadow: none;
}

.bthEnter:hover {
  color: #343a40;
}

.overlap-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.overlap {
  background: #23262F;
  background: -webkit-linear-gradient(to right, #23262F, #315DF7);
  background: linear-gradient(to right, #0c163a, #1a338a, #1a338a, #0c163a);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlap-panel {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
  justify-content: normal;
}

.overlap-left {
  transform: translateX(-20%);
}

.overlap-right {
  right: 0;
  transform: translateX(0);
}

.authentication.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.authentication.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

.authentication.right-panel-active .overlap-container {
  transform: translateX(-100%);
}

.authentication.right-panel-active .overlap {
  transform: translateX(50%);
}

.authentication.right-panel-active .overlap-left {
  transform: translateX(0);
}

.authentication.right-panel-active .overlap-right {
  transform: translateX(20%);
}

.overlap-title {
  color: #F4F5F6;
  height: 48px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -0.04em;
}

.overlap-title-login {
  margin-top: 103px;
  margin-bottom: 55px;
}

.overlap-title-reg {
  font-size: 39px;
  margin-top: 96px;
  margin-bottom: 88px;
}

.overlap-content {
  color: #F4F5F6;
}

.overlap-button {
  border-radius: 20px;
  border: 1px solid #0d6efd;
  background-color: #0d6efd;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  padding: 9px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.overlapReg {
  margin-top: 130px;
}

.overlapEnt {
  margin-top: 105px;
}

.overlap-button:hover {
  color: #343a40;
}

@media (min-width: 1400px) {
  .login {
    width: 50%;
  }
}
@media (min-width: 768px) and (min-width: 1399px) {
  .authentication {
    width: 95vw;
  }
  .overlap-title-reg {
    font-size: 36px;
  }
  .registration legend {
    font-size: 38px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .authentication {
    width: 95vw;
    flex-direction: column !important;
  }
  .authentication.right-panel-active .sign-in-container {
    transform: translateY(-100%);
  }
  .authentication.right-panel-active .sign-up-container {
    transform: translateY(-100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
  }
  .authentication.right-panel-active .overlap-container {
    transform: translateY(-100%);
  }
  .authentication.right-panel-active .overlap {
    transform: translateY(0%);
  }
  .authentication.right-panel-active .overlap-left {
    transform: translateY(0);
  }
  .authentication.right-panel-active .overlap-right {
    transform: translateY(20%);
  }
  .overlap-container {
    top: 50%;
    width: 100%;
    left: 0;
  }
  .overlapReg {
    margin-top: 45px;
    margin-bottom: -15px;
  }
  .login {
    max-width: 100%;
    padding: 0px 25px;
  }
  .registration {
    max-width: 100%;
    width: 100%;
  }
  .overlap-panel {
    position: unset;
    width: 100%;
  }
  .overlap {
    display: flex;
    flex-direction: column-reverse;
    width: unset;
    left: unset;
  }
  .login legend {
    height: 30px;
    font-size: 40px;
    line-height: 60%;
    margin-bottom: 5px;
    margin-top: 20px;
  }
  .bth-login {
    margin-top: unset;
  }
  .login a {
    margin: 5px 0;
  }
  .login form {
    margin-top: 35px;
  }
  .form-control {
    padding: 2px 4px;
  }
  .overlap-title {
    font-size: 29px;
  }
  .overlap-title-login {
    margin-top: 30px;
    margin-bottom: -10px;
  }
  .bth-reg {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .overlap-title-reg {
    padding-top: 20px;
  }
  .overlapEnt {
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .registration legend {
    font-size: 32px;
  }
  .overlap-right p {
    margin-top: 20px;
  }
}
.footer {
  padding: 64px 0;
  background-color: #f4f5f6;
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 991.98px) {
  .footer__container {
    flex-direction: column;
  }
}
.footer__menu {
  display: flex;
  align-items: center;
}
.footer__menu-link {
  transition: all 0.4s ease-in;
}
.footer__menu-link:hover {
  color: #23262f;
}
.footer__menu-link:not(:last-child) {
  margin-right: 20px;
}
@media (max-width: 991.98px) {
  .footer__menu {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .footer__copy {
    margin-top: 15px;
  }
}

.chats {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.chats__back {
  display: none;
}
.chats__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: 1px solid rgba(35, 38, 47, 0.05);
  min-height: 500px;
}
.chats__list_info-heading {
  font-weight: 500;
  font-size: 48px;
  line-height: 110%;
  text-align: center;
  letter-spacing: -0.03em;
  color: #23262F;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.chats__list_info-count {
  color: rgba(35, 38, 47, 0.6);
}
.chats__list_info-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(35, 38, 47, 0.6);
}
.chats__list_search {
  width: 100%;
  max-width: 392px;
  height: 54px;
  background: #F4F5F6;
  border: 1px solid rgba(35, 38, 47, 0.05);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 0 16px;
}
.chats__list_search-svg {
  padding-right: 16px;
  border-right: 1px solid rgba(35, 38, 47, 0.05);
}
.chats__list_search-input {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #23262F;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
}
.chats__list_chats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.chats__list_chats-chat {
  cursor: pointer;
  width: 392px;
  height: 80px;
  padding: 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.chats__list_chats-chat:not(last-child) {
  border-bottom: 1px solid rgba(35, 38, 47, 0.05);
}
.chats__list_chats-chat_avatar {
  height: 48px;
  width: 48px;
  border-radius: 32px;
  background-color: gray;
}
.chats__list_chats-chat_info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.chats__list_chats-chat_info_name {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #23262F;
}
.chats__list_chats-chat_info_last {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: rgba(35, 38, 47, 0.6);
}
.chats__list_chats-chat_check {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: right;
  align-items: end;
}
.chats__list_chats-chat_check_time {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: rgba(35, 38, 47, 0.6);
}
.chats__chat {
  border: 1px solid rgba(35, 38, 47, 0.05);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: space-between;
}
.chats__chat_heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 16px 24px;
  border-bottom: 1px solid rgba(35, 38, 47, 0.05);
}
.chats__chat_heading-item {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.chats__chat_heading-item_photo {
  width: 64px;
  height: 64px;
  border-radius: 4px;
  background-color: grey;
}
.chats__chat_heading-item_info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.chats__chat_heading-item_cost {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #23262F;
}
.chats__chat_heading-item_title {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: rgba(35, 38, 47, 0.6);
}
.chats__chat_heading-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
.chats__chat_heading-profile_avatar {
  height: 48px;
  width: 48px;
  border-radius: 32px;
  background-color: grey;
}
.chats__chat_heading-profile_info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.chats__chat_heading-profile_info_name {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #23262F;
}
.chats__chat_heading-profile_info_online {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: rgba(35, 38, 47, 0.6);
}
.chats__chat_date {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: rgba(35, 38, 47, 0.6);
}
.chats__chat_messages {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 24px;
}
.chats__chat_messages-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  align-items: start;
}
.chats__chat_messages-item_heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
.chats__chat_messages-item_avatar {
  width: 48px;
  height: 48px;
  border-radius: 32px;
  background-color: grey;
}
.chats__chat_messages-item_info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.chats__chat_messages-item_name {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #000000;
}
.chats__chat_messages-item_time {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: rgba(41, 42, 50, 0.6);
}
.chats__chat_messages-item_message {
  width: 403px;
  background: #F4F5F6;
  border-radius: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}
.chats__chat_messages-item_message p {
  padding: 16px 24px;
}
.chats__chat_messages-item_i {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  align-items: end;
}
.chats__chat_messages-item_i_message {
  width: 403px;
  background: #315DF7;
  border-radius: 24px;
  color: #fff;
}
.chats__chat_messages-item_i_message p {
  padding: 16px 24px;
}
.chats__chat_write {
  height: 64px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(35, 38, 47, 0.05);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
.chats__chat_write-attach, .chats__chat_write-send {
  cursor: pointer;
  transition: transform 0.3s linear;
}
.chats__chat_write-attach:hover, .chats__chat_write-send:hover {
  transition: transform 0.3s linear;
  transform: scale(1.1);
}
.chats__chat_write-input {
  width: 100%;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
}

@media screen and (min-width: 320px) and (max-width: 1140px) {
  .chats {
    flex-direction: column;
  }
  .chats__back {
    cursor: pointer;
    height: 48px;
    width: 48px;
    border: 2px solid rgba(35, 38, 47, 0.1);
    border-radius: 32px;
    justify-content: center;
    align-items: center;
  }
  .chats__list {
    align-items: center;
  }
  .chats__list_info-heading {
    font-size: 32px;
  }
  .chats__list_chats-chat {
    width: 100%;
    max-width: 390px;
    padding: 0 6px;
    gap: 6px;
  }
  .chats__chat {
    display: none;
  }
  .chats__chat_heading {
    padding: 0;
  }
  .chats__chat_messages {
    padding: 0;
    align-items: center;
    gap: 16px;
  }
  .chats__chat_messages-item_message {
    width: 100%;
    max-width: 350px;
  }
  .chats__chat_messages-item_i_message {
    width: 100%;
    max-width: 350px;
  }
}
@media screen and (min-width: 320px) and (max-width: 389px) {
  .chats__list_chats-chat_avatar {
    display: none;
  }
  .chats__chat_heading-profile_avatar {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
