$color-black: #23262F;
$color-ligthGrey: #fafafa;
$color-red: #EF4646;
$color-green: #58BD7D;
$color-yellow: #F6BF4D;
$color-black40: rgba(35, 38, 47, 0.4);
$color-black50: rgba(35, 38, 47, 0.5);
$color-black10: rgba(35, 38, 47, 0.1);
$color-black5: rgba(35, 38, 47, 0.05);
$color-blue: #315df7;
$color-blue-hover: #2a4dcc;
$color-purpel: #9757d7;
