.actions {
    &__btn {
        position: relative;
        width: 58px;
        height: 58px;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 50%;

        transition: all 0.4s ease-in;

        &:hover {
            background-color: #f4f5f6;
        }

        @include break992 {
            width: initial;
            height: initial;

            border: 2px solid rgba(35, 38, 47, 0.1);

            padding: 13px 36px;
            border-radius: 3333px;
        }
    }

    &__notif {
        position: absolute;
        top: 14px;
        right: 14px;

        width: 12px;
        height: 12px;

        border-radius: 50%;
        border: 2px solid white;

        background-color: red;

        @include break992 {
            top: 10px;
            right: 32px;
        }
    }
}
