.btn {
    position: relative;
    font-family: "Gilroy";
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;

    padding: 19px 30px;

    border-radius: 8px;

    color: $color-black;

    &-white {
        background-color: white;
        border: 2px solid rgba(35, 38, 47, 0.1);
        transition: all 0.4s ease-in-out;

        &:hover {
            border: 2px solid rgba(35, 38, 47, 0.5);
        }
    }

    &-blue {
        color: white;

        border: 2px solid $color-blue;
        background-color: $color-blue;

        transition: all 0.4s ease-in-out;

        &:hover {
            border: 2px solid $color-blue;
            background-color: transparent;
        }
    }

    //Кнопка бургера

    &-toggel {
        position: relative;
        width: 48px;
        height: 48px;

        padding: 0;

        display: none;
        align-items: center;
        justify-content: center;

        flex-direction: column;

        border-radius: 50%;
        border: 2px solid rgba(35, 38, 47, 0.1);

        transition: all 0.4s ease-in-out;

        & .line {
            display: block;

            width: 14px;
            height: 1px;
            background-color: $color-black;
            transition: all 0.4s ease-in-out;

            &:nth-child(2) {
                margin-top: 7px;
            }

            @media (max-width: 990.98px) {
                &.active:nth-child(1) {
                    transform: rotate(45deg);
                }

                &.active:nth-child(2) {
                    transform: rotate(-45deg);
                }
            }
        }

        &.active .line:nth-child(1) {
            transform: translateY(3px) rotate(45deg);
        }

        &.active .line:nth-child(2) {
            transform: translateY(-5px) rotate(-45deg);
        }

        &:hover {
            border-color: $color-black50;

            &.line {
                background-color: $color-black50;
            }
        }

        @media (max-width: 990.98px) {
            display: flex;
        }
    }

    &:hover {
        color: $color-black;
        text-decoration: none;
    }
}

// 1
// transform: translateY(3px) rotate(45deg);

// 2
// transform: translateY(-5px) rotate(-45deg);
