// Маленькая карточка
.card {
    position: relative;
    padding: 16px;

    border: 2px solid rgba(35, 38, 47, 0.05);
    border-radius: 16px;
    transition: all 0.4s ease-in-out;

    &:hover {
        transform: scale(1.02);
        box-shadow: 0px 0px 15px 5px rgba($color-black, 0.1);
    }

    &__link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__img {
        position: relative;
        max-height: 315px;
        min-height: 260px;
        border-radius: 16px;

        & img {
            width: 100%;
            height: 100%;
            border-radius: 16px;

            object-fit: contain;
        }
    }

    &__body {
        margin-top: 32px;

        &-top {
            border-bottom: 1px solid rgba(35, 38, 47, 0.05);
        }

        &-bottom {
            padding-top: 14px;

            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__btn-fav {
        position: absolute;
        top: 12px;
        right: 12px;

        z-index: 5;

        width: 48px;
        height: 48px;

        background-color: #fff;

        border-radius: 50%;
        box-shadow: 0px 0px 5px 3px rgba($color-black, 0.1);

        display: flex;
        align-items: center;
        justify-content: center;

        transition: all 0.5s;
        cursor: pointer;

        svg > path {
            transition: all 0.5s;
            stroke: $color-black;
        }

        &.add {
            background-color: $color-blue;

            svg > path {
                stroke: #fff;
            }
        }

        &:hover {
            background-color: rgb(179, 179, 179);

            svg > path {
                stroke: $color-black;
            }
        }
    }

    &__title {
        position: relative;
        z-index: 5;
        margin-bottom: 4px;

        font-weight: 500;
        font-size: 20px;
        line-height: 24px;

        color: $color-black;

        transition: all 0.3s;

        &:hover {
            color: $color-black50;
        }
    }

    &__location {
        padding-bottom: 16px;

        display: flex;
        align-items: center;

        &-icon {
            margin-right: 10px;
        }
    }

    &__author {
        display: flex;
        align-items: center;

        margin-right: 10px;

        &-img {
            width: 32px;
            height: 32px;

            margin-right: 8px;

            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 50%;

            & .author-img {
                width: 32px;
                height: 32px;
                border-radius: 50%;

                object-fit: cover;
            }
        }

        &-name {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;

            color: $color-black;

            transition: color 0.4s ease-in;

            &:hover {
                color: rgba($color-black, 0.5);
            }
        }

        &-link {
            position: relative;
            z-index: 5;
        }
    }

    &__add {
        display: flex;
        flex-direction: column;

        &-text {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;

            color: rgba(35, 38, 47, 0.6);

            margin-bottom: 4px;
        }

        &-time {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;

            color: $color-black;
        }
    }
}
