// Маленькая карточка
.card {
    &__img {
        width: 278px;
        height: 278px;

        border-radius: 12px;
        background-color: red;

        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__body {
        margin-top: 32px;
    }

    &__title {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;

        color: $color-black;
    }

    &__location {
        display: flex;
        align-items: center;
    }
}
