* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Gilroy, sans-serif;
    font-style: normal;
}

a {
    display: block;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

li {
    list-style: none;
}

ul,
p {
    margin: 0;
    padding: 0;
}

main {
    margin-top: 150px;
}

.title {
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;

    letter-spacing: -0.03em;

    color: $color-black;

    @media (max-width: 990.98px) {
        font-size: 24px;
    }
}
