.login {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    text-align: center;
    width: 50%;
    justify-content: normal;
    @include break768 {
        width: 100%;
        padding: 0px 25px;
    }

}

.login legend{
    height: 48px;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #23262f;
    margin-bottom: 20px;
    margin-top: 103px;
    @include break768 {
        height: 30px;
        font-size: 40px;
        line-height: 60%;
        margin-bottom: 5px;
        margin-top: 20px;
    }
}

.login input:focus {
    border-color: #315df7;
    box-shadow: none;
}

.login label {
    width: 112px;
    height: 14px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #272a32;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.login a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
    @include break768 {
        margin: 5px 0;
    }
}

.login form{
    @include break768 {
        margin-top: 35px;
    }
}

.login form {
    @include break768 {
        margin-top: 35px;
    }
}

.authentication {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    padding-top: 0px !important;
    padding: 0;
    z-index: 0;

    @include break1200 {
        width: 95vw;
    }

    @include break768 {
        width: 95vw;
        flex-direction: column!important;
    }
}

    @include break768 {
        width: 95vw;
        flex-direction: column !important;
    }
}

.registration {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: normal;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    max-max-width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    @include break768 {
        max-width: 100%;
        width: 100%;
    }
}

.social {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.social a {
    border: 1px solid #dddddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

.form-control{
    background-color: #F4F5F7;
    @include break768 {
        padding: 2px 4px;
    }
}

.bthEnter {
    border-radius: 20px;
    border: 1px solid #0d6efd;
    background-color: #0d6efd;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin-top: 19px;
}

.bth-login{
    margin-top: 45px;
    @include break768 {
        margin-top: unset;
    }
}

.bth-reg{
    @include break768 {
        margin-top: 0px;
        margin-bottom: 20px;
    }
}

.bth-login {
    margin-top: 45px;
    @include break768 {
        margin-top: unset;
    }
}

.bth-reg {
    @include break768 {
        margin-top: 0px;
        margin-bottom: 20px;
    }
}

.bth-login {
    margin-top: 45px;
    @include break768 {
        margin-top: unset;
    }
}

.bth-reg {
    @include break768 {
        margin-top: 0px;
        margin-bottom: 20px;
    }
}

.registration legend {
    display: block;
    font-size: 39px;
    margin-block-start: 0.67em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #23262f;
    margin-top: 90px;
    @include break1200 {
        font-size: 38px;
    }
    @include break768 {
        font-size: 32px;
    }
}

.registration input:focus {
    border-color: #315df7;
    box-shadow: none;
}

.bthEnter:hover {
    color: #343a40;
}

.overlap-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
    @include break768 {
        top: 50%;
        width: 100%;
        left: 0;
    }
}

.overlap {
    background: #23262f;
    background: -webkit-linear-gradient(to right, #23262f, #315df7);
    background: linear-gradient(to right, #0c163a, #1a338a, #1a338a, #0c163a);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    @include break768 {
        display: flex;
        flex-direction: column-reverse;
        width: unset;
        left: unset;
    }
}

.overlap-panel {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    justify-content: normal;
    @include break768 {
        position: unset;
        width: 100%;
    }
}

.overlap-left {
    transform: translateX(-20%);
}

.overlap-right {
    right: 0;
    transform: translateX(0);
}

.authentication.right-panel-active .sign-in-container {
    transform: translateX(100%);
    @include break768 {
        transform: translateY(-100%);
    }
}

.authentication.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
    @include break768 {
        transform: translateY(-100%);
    }
}

.authentication.right-panel-active .overlap-container {
    transform: translateX(-100%);
    @include break768 {
        transform: translateY(-100%);
    }
}

.authentication.right-panel-active .overlap {
    transform: translateX(50%);
    @include break768 {
        transform: translateY(0%);
    }
}

.authentication.right-panel-active .overlap-left {
    transform: translateX(0);
    @include break768 {
        transform: translateY(0);
    }
}

.authentication.right-panel-active .overlap-right {
    transform: translateX(20%);
    @include break768 {
        transform: translateY(20%);
    }
}

.overlap-title{
    color: #F4F5F6;
    height: 48px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -.04em;
    @include break768 {
        font-size: 29px;
    }
}

.overlap-right p{
    margin-top: 20px;
    @include break768 {
        margin-top: 20px;
    }
}

.overlap-title-login{
    margin-top: 103px;
    margin-bottom: 55px;
    @include break768 {
        margin-top: 30px;
        margin-bottom: -10px;
    }
}

.overlap-title-reg{
    font-size: 39px;
    margin-top: 96px;
    margin-bottom: 88px;
    @include break1200 {
        font-size: 36px;
    }
    @include break768 {
        padding-top: 20px;
        font-size: 29px;
    }
}

.overlap-content {
    color: #f4f5f6;
}

.overlap-button {
    border-radius: 20px;
    border: 1px solid #0d6efd;
    background-color: #0d6efd;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    padding: 9px 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.overlapReg{
    margin-top: 110px;
    @include break768 {
        margin-top: 45px;
        margin-bottom: -15px;
    }
}

.overlapEnt{
    margin-top: 105px;
    @include break768 {
        margin-top: 30px;
        margin-bottom: 50px;
    }
}

.overlap-button:hover{
    color: #343a40;
}



