.nav-profile {
    @media (max-width: 990.98px) {
        width: 100%;
        box-shadow: 0px -24px 150px rgba(0, 0, 0, 0.05);
        background-color: white;

        padding: 16px 10px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__content {
        display: flex;
        align-items: center;
    }

    &__actions {
        display: flex;
        margin-right: 24px;

        @media (max-width: 990.98px) {
            position: absolute;
            bottom: 110px;
            left: 0;
            right: 0;
            width: 100%;

            justify-content: center;
            gap: 5px;
            margin-right: 0;
            margin-top: 15px;
        }
    }

    &__avatar {
        position: relative;
        width: 58px;
        height: 58px;
        border-radius: 50%;
    }

    &__body {
        position: absolute;
        top: 70px;

        z-index: 100;

        width: 370px;

        background: white;
        box-shadow: 0px 4px 250px rgba(0, 0, 0, 0.15);
        border-radius: 12px;

        padding: 8px 0;

        opacity: 0;
        visibility: hidden;

        transition: all 0.4s ease-in;

        &.show {
            opacity: 1;
            visibility: visible;
        }

        @media (max-width: 990.98px) {
            top: initial;
            bottom: 85px;
            width: 310px;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;

        cursor: pointer;
    }

    &__item {
        font-family: "Gilroy";
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;

        color: rgba(35, 38, 47, 0.6);

        display: flex;
        align-items: center;

        padding: 24px 12px;
        cursor: pointer;

        transition: all 0.4s ease-in;

        &:first-child {
            margin-bottom: 12px;
            border-bottom: 1px solid rgba(35, 38, 47, 0.05);
        }

        &:last-child {
            margin-top: 12px;
            border-top: 1px solid rgba(35, 38, 47, 0.05);
        }

        &:hover {
            background: #f4f5f6;
        }

        & span {
            margin-right: 14px;
        }
    }
}
