.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-grow: 1;

    padding: 0 30px;

    @include break1200 {
        padding: 0 20px;
    }

    @include break992 {
        width: 100%;
        padding: 0;
        padding-top: 32px;

        flex-basis: 100%;
        flex-direction: column;
        align-items: initial;
        justify-content: initial;

        background-color: white;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;

        @include break992 {
            align-items: inherit;
            flex-direction: column;
        }
    }

    &__item {
        transition: all 0.4s ease-in;

        &:not(:last-child) {
            margin-right: 32px;

            @include break1200 {
                margin-right: 22px;
            }

            @include break992 {
                margin-right: 0;
            }
        }

        @include break992 {
            padding: 16px 32px;

            &:hover {
                background-color: #f4f4f4;
            }
        }

        &.active {
            & > .nav-menu__link {
                font-weight: 600;
                color: $color-black;
            }

            @include break992 {
                border-left: 3px solid $color-blue;
            }
        }
    }

    &__link {
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;

        color: $color-black40;
        transition: all 0.4s ease-in-out;

        @include break1200 {
            font-size: 14px;
        }

        @include break992 {
            font-size: 32px;
            line-height: 100%;

            letter-spacing: -0.03em;
        }
    }
}
