.products-last {
  &__title {
    margin-top: 64px;
    margin-bottom: 32px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
    column-gap: 16px;
    row-gap: 16px;

    @include break375 {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  }
}
