.products-last {
    &__title {
        margin-top: 64px;
        margin-bottom: 32px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
        column-gap: 16px;
        row-gap: 16px;

        @include break375 {
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        }
    }

    &__card {
        padding: 16px;

        border: 2px solid rgba(35, 38, 47, 0.05);
        border-radius: 16px;
    }
}

// "id" => 20
// "title" => "Женская футболка"
// "user_id" => 3051
// "text" => "95%хлопок, 5%спандекс, функции: повседневный, короткий рукав, печать, V-образный вырез, модные футболки, ткань мягкая и имеет немного растяжения., Случай: повсе ▶"
// "category_id" => 8
// "city_id" => 270
// "barter_type" => "barter"
// "cost" => 0
// "created_at" => "2022-08-03 12:31:27"
// "updated_at" => "2022-08-03 12:31:27"
// "status" => 2
// "image" => "https://fakestoreapi.com/img/61pHAEJ4NML._AC_UX679_.jpg"
// "blocked_message" => null
