.reset-password {
  &__heading {
    margin-bottom: 24px;
  }

  &__form {
    input {
      padding: 12px 15px;
    }
  }

  &__list {
    margin-bottom: 24px;
  }

  &__buttons {
    display: flex;
    gap: 18px;

    button {
      @include break768 {
        flex: 1;
      }
    }
  }
}