.search-form {
    &__container {
        padding: 8px;
        margin-bottom: 25px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 34px;

        background: #f4f5f6;

        border: 1px solid rgba(35, 38, 47, 0.05);
        border-radius: 3333px;
    }

    &__bottom-container {
        display: flex;
    }
}

.choices {
    margin-bottom: 0;

    &[data-type*="select-one"] .choices__inner {
        padding-bottom: 0;
    }

    &__inner {
        height: 72px;
        padding: 0;

        display: flex;
        align-items: center;

        font-weight: 500;
        font-size: 18px;
        line-height: 100%;

        border: none;
    }

    &__placeholder {
        opacity: 1;
    }

    &__list--single {
        padding: 0;
    }

    //Стили стрелок
    //белые стрелки
    &[data-elem="search__category"] {
        &:after {
            right: 42px;
            height: 12px;
            width: 12px;
            border-width: 0px;
            border-right: 2px solid #fff;
            border-top: 2px solid #fff;
            transform: rotate(135deg);
            margin-top: -9px;
            transition: all 0.4s ease-in;
        }

        &.is-open:after {
            border-width: 0px;
            border-left: 2px solid #fff;
            border-bottom: 2px solid #fff;
            margin-top: -2px;
        }
    }

    //черные стрелки
    &[data-elem="gray-arrow"] {
        &:after {
            right: 15px;
            height: 12px;
            width: 12px;
            border-width: 0px;
            border-right: 2px solid $color-black;
            border-top: 2px solid $color-black;
            transform: rotate(135deg);
            margin-top: -9px;
            transition: all 0.4s ease-in;
        }

        &.is-open:after {
            border-width: 0px;
            border-left: 2px solid $color-black;
            border-bottom: 2px solid $color-black;
            margin-top: -2px;
        }
    }
}

.search {
    &__category {
        width: 250px;

        background-color: #23262f;
        border-radius: 333px;

        padding-top: 0px;

        padding-right: 34px;
        padding-left: 34px;

        color: #fff;
        overflow: hidden;

        transition: background-color 0.4s ease-in;

        &:hover {
            background-color: rgba($color-black, 0.8);
        }
    }

    &__type {
        width: 150px;
        background: none;
    }

    &__city {
        background: none;
        width: 150px;
    }

    &__item {
        display: flex;
        align-items: center;

        &-input {
            width: 100%;

            background: none;
            border: none;

            font-weight: 500;
            font-size: 20px;
            line-height: 100%;
        }

        &--searching {
            width: 350px;
        }

        &--type {
            height: 54px;
            padding: 0 36px;

            border-left: 1px solid rgba($color-black, 0.1);
            border-right: 1px solid rgba($color-black, 0.1);
        }

        &-icon {
            margin-right: 8px;

            & > svg {
                display: block;
            }
        }
    }

    &__btn {
        width: 68px;
        height: 68px;

        background-color: $color-blue;
        border-radius: 50%;

        transition: all 0.4s ease-in;

        &:hover {
            background-color: $color-blue-hover;
        }
    }

    &__checkbox {
        display: flex;
        align-items: center;
        cursor: pointer;

        &-text {
            margin-left: 12px;
        }
    }
}

//Стили кнопок закругления
.is-open .search__category,
.is-focused .search__category {
    border-radius: 333px;
}

.is-flipped.is-open .choices__inner {
    border-radius: 333px;
}

//Стили выпадающего списка
.choices__list--dropdown,
.choices__list[aria-expanded] {
    z-index: 101;
    width: 250px;

    margin-top: 15px;
    border-radius: 8px;

    // word-break: inherit;
}

.is-flipped .choices__list--dropdown,
.is-flipped .choices__list[aria-expanded] {
    margin-bottom: 15px;
    border-radius: 8px;
}

//Блок результатов поиска
.search-result {
    margin-top: 32px;

    &__title {
        margin-bottom: 32px;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
        column-gap: 16px;
        row-gap: 16px;

        @include break375 {
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        }
    }
}
