.search-form {
    &__container {
        padding: 8px;

        // background: rgba(255, 255, 255, 0.9);

        background-color: rgb(189, 162, 162);
        border: 1px solid rgba(35, 38, 47, 0.05);

        border-radius: 3333px;

        display: flex;
        align-items: center;
        gap: 36px;
    }
}

.search {
    &__item {
        &--cat {
            width: 224px;
            height: 72px;

            background: $color-black;
            border-radius: 333px;
            color: #fff;
        }

        &--searching {
            width: 351px;
        }

        &--price {
            width: 214px;
        }

        &--local {
            width: 153px;
        }
    }
    &__btn {
        width: 68px;
        height: 68px;

        background-color: $color-blue;
        border-radius: 50%;

        transition: all 0.4s ease-in;

        &:hover {
            background-color: $color-blue-hover;
        }
    }
}

.dropdown {
    position: relative;
    // width: 300px;
    // height: 72px;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 20px;
        z-index: 1;
        width: 8px;
        height: 8px;
        border: 2px solid #333;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        transform: translateY(-50%) rotate(-45deg);

        transition: 0.3s;
    }

    &.active::before {
        transform: translateY(-50%) rotate(-225deg);
    }

    & .textBox {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        // background: #fff;
        // box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
        // padding: 12px 20px;
        // border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & .option {
        position: absolute;
        top: 70px;
        width: 100%;
        max-height: 100px;
        background: #fff;
        box-shadow: 0 30px 30px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        overflow: auto;

        opacity: 0;
        visibility: hidden;

        transition: all 0.4s ease;

        & div {
            padding: 12px 20px;
            color: $color-black;
            cursor: pointer;
            transition: 0.25s linear;

            &:hover {
                background: #62beae;
                color: #fff;
            }
        }
    }

    &.active .option {
        opacity: 1;
        visibility: visible;
    }
}
