.preview-card {

    &__heading {
        margin-bottom: 16px;
    }

    &__wrapper {
        position: relative;
        padding: 16px;

        border: 2px solid rgba(35, 38, 47, 0.05);
        border-radius: 16px;
    }

    &__img {
        position: relative;
        max-height: 385.33px;
        //max-height: 315px;
        //min-height: 300px;
        min-width: 278px;
        border-radius: 16px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 16px;

            object-fit: contain;
        }
    }

    &__body {
        margin-top: 32px;
    }

    &__top {
        border-bottom: 1px solid rgba(35, 38, 47, 0.05);
    }

    &__bottom {
        padding-top: 14px;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        position: relative;
        z-index: 5;
        margin-bottom: 4px;
        width: 100%;

        display: inline-block;

        font-weight: 500;
        font-size: 20px;
        line-height: 24px;

        color: $color-black;

        transition: all 0.3s;

        word-wrap: anywhere;

        &:hover {
            color: $color-black50;
        }
    }

    &__location {
        padding-bottom: 16px;

        display: flex;
        align-items: center;

        &-icon {
            margin-right: 10px;
        }

        &-text {
            user-select: none;
        }
    }

    &__author {
        display: flex;
        align-items: center;

        margin-right: 10px;

        &-img {
            width: 32px;
            height: 32px;

            margin-right: 8px;

            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 50%;
            overflow: hidden;

            & .author-img {
                width: 32px;
                height: 32px;
                border-radius: 50%;

                object-fit: cover;
            }
        }

        &-name {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;

            color: $color-black;

            transition: color 0.4s ease-in;

            user-select: none;

            &:hover {
                color: rgba($color-black, 0.5);
            }
        }

    }

    &__add {
        display: flex;
        flex-direction: column;

        &-text {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;

            color: rgba(35, 38, 47, 0.6);

            margin-bottom: 4px;
        }

        &-time {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;

            color: $color-black;
        }
    }
}
